/* DejaVu Serif: see LICENSE-DejaVu.txt. */
@font-face{font-family:"DejaVu Serif";font-style:normal;font-weight:400;font-display:swap;src:url("DejaVuSerif.ttf") format("truetype")}
@font-face{font-family:"DejaVu Serif";font-style:normal;font-weight:700;font-display:swap;src:url("DejaVuSerif-Bold.ttf") format("truetype")}
